<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683567834719-gj6qpo31mki3p8u9i55mdjs84dsueh35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683567834719-gj6qpo31mki3p8u9i55mdjs84dsueh35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683567834719-mhgll3rhtgh4v9st3qjnj0jg0euc555o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCw67vFGmNk_sNt-giurY2KXBwrH9qzhs</string>
	<key>GCM_SENDER_ID</key>
	<string>683567834719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hoocup.hoocup</string>
	<key>PROJECT_ID</key>
	<string>ellaai-7c108</string>
	<key>STORAGE_BUCKET</key>
	<string>ellaai-7c108.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683567834719:ios:a8f0ff6e6c102775251dea</string>
</dict>
</plist>